.ip-option{
    margin-top: 22px !important;
    h4{
        margin-bottom: 10px !important;
    }
    .Select-input{
        margin: 2px 0 2px 0 !important;
    }
}

.btn-facu{
    button{
        margin: 12px 31px 20px 30px;
        border-width: 2px;
    }
}