.box.active-con {
  border: 1px solid gray;
  border-radius: 4px; }

.box.unactive-con {
  border: 1px solid #d3d3d3 #d3d3d3;
  border-radius: 4px; }

.box .contain-items {
  display: flex;
  width: 100%;
  justify-content: center; }
  .box .contain-items i {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 50px; }
    .box .contain-items i.active {
      color: gray !important; }
    .box .contain-items i.unactive {
      color: #d3d3d3; }

.box hr.active {
  border-color: gray !important; }

.box hr.unactive {
  border-color: #d3d3d3 !important; }

.cbBox {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  position: relative; }
  .cbBox > .statusSign {
    top: 0;
    right: 0;
    position: absolute;
    align-self: flex-end;
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center; }
    .cbBox > .statusSign > i {
      color: #e4935c;
      font-size: 18px;
      margin-left: 5px;
      padding: 3px 0px; }
      .cbBox > .statusSign > i.comment {
        color: #9E9E9E; }
      .cbBox > .statusSign > i.select {
        color: #8bc34a; }
      .cbBox > .statusSign > i.deny {
        color: #df7373; }
    .cbBox > .statusSign > span {
      background-color: #e4935c;
      color: white;
      font-size: 11px;
      font-weight: bold;
      padding: 3px 7px;
      border-radius: 20px;
      margin-left: 5px;
      animation-name: newCon;
      animation-duration: 1s;
      animation-iteration-count: infinite; }
  .cbBox > a > i {
    font-size: 55px;
    margin-top: 12px;
    margin-bottom: 15px;
    color: #70b2b2; }
  .cbBox > .label {
    border-top: 1px solid #e9e9e9;
    color: #a4a4a4;
    display: flex;
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center; }
    .cbBox > .label div {
      display: flex;
      align-items: center; }
      .cbBox > .label div p {
        font-size: 12px;
        margin: 0; }
      .cbBox > .label div i {
        font-size: 17px;
        margin: 0;
        margin-right: 12px;
        color: #a4a4a4; }
    .cbBox > .label > i {
      padding-left: 15px;
      border-left: 1px solid #e9e9e9;
      color: #87cb1696;
      font-size: 15px;
      margin-right: 10px;
      cursor: pointer; }
      .cbBox > .label > i:hover {
        color: #87cb16e0; }

@-webkit-keyframes newCon {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-5px); }
  100% {
    transform: translateY(0px); } }

.boxUpload {
  margin-top: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px #dddddd !important; }
  .boxUpload .cbImg {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    background-color: #c7cdd0b0;
    overflow: hidden; }
    .boxUpload .cbImg > img {
      max-height: 120px;
      width: auto;
      max-width: 230px; }
    .boxUpload .cbImg > div {
      border-top: 1px solid #e9e9e9;
      color: #a4a4a4;
      display: flex;
      width: 100%;
      padding: 10px;
      padding-left: 15px;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px; }
      .boxUpload .cbImg > div div {
        display: flex;
        align-items: center; }
        .boxUpload .cbImg > div div p {
          font-size: 12px;
          margin: 0;
          color: gray; }
        .boxUpload .cbImg > div div i {
          font-size: 17px;
          margin: 0;
          margin-right: 12px;
          color: gray; }
      .boxUpload .cbImg > div > i {
        padding-left: 15px;
        border-left: 1px solid #e9e9e9;
        color: #87cb1696;
        font-size: 15px;
        margin-right: 10px;
        cursor: pointer; }
        .boxUpload .cbImg > div > i:hover {
          color: #87cb16e0; }

.cbWord {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important; }
  .cbWord > i {
    font-size: 55px;
    margin-bottom: 15px;
    color: #70b2b2; }
  .cbWord > div {
    border-top: 1px solid #e9e9e9;
    color: #a4a4a4;
    display: flex;
    width: 100%;
    padding: 10px;
    padding-left: 15px;
    justify-content: space-between;
    align-items: center; }
    .cbWord > div div {
      display: flex;
      align-items: center; }
      .cbWord > div div p {
        font-size: 12px;
        margin: 0; }
      .cbWord > div div i {
        font-size: 17px;
        margin: 0;
        margin-right: 12px;
        color: #a4a4a4; }
    .cbWord > div > i {
      padding-left: 15px;
      border-left: 1px solid #e9e9e9;
      color: #87cb1696;
      font-size: 15px;
      margin-right: 10px;
      cursor: pointer; }
      .cbWord > div > i:hover {
        color: #87cb16e0; }

.cbDetail .row-detail {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #555;
  margin-bottom: 10px; }
  .cbDetail .row-detail > span:nth-of-type(1) {
    color: gray;
    font-size: 11px;
    margin-right: 10px;
    margin-bottom: 10px; }
  .cbDetail .row-detail > div {
    margin-left: 10px; }
    .cbDetail .row-detail > div > img {
      width: 30px;
      border-radius: 5px;
      margin-right: 10px; }
    .cbDetail .row-detail > div > i {
      margin-right: 10px; }

.rmPaddingLeft {
  padding-left: 0 !important; }

.rmPaddingRight {
  padding-right: 0 !important; }

.selectBar {
  display: flex;
  align-items: center; }
  .selectBar > button {
    margin-right: 10px; }
    .selectBar > button > i {
      margin-right: 5px; }
  .selectBar > p {
    margin: 0;
    font-size: 13px;
    color: gray; }

.approveBar {
  display: flex;
  align-items: center; }
  .approveBar div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; }
    .approveBar div > button {
      margin-bottom: 10px; }
  .approveBar > p {
    margin: 0;
    font-size: 13px;
    color: gray;
    flex-basis: 100%; }

.returnBar {
  display: flex;
  align-items: center;
  flex-direction: row; }
  .returnBar > p {
    margin: 0;
    color: gray;
    font-size: 14px;
    margin-right: 5px; }
    .returnBar > p i {
      font-size: 20px;
      margin-right: 5px;
      color: #c99292; }

.inputComment {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .inputComment div:nth-of-type(1) {
    width: 100%;
    display: flex;
    margin-bottom: 10px; }
    .inputComment div:nth-of-type(1) img {
      width: 80px;
      min-width: 80px;
      height: 80px;
      border-radius: 5px; }
    .inputComment div:nth-of-type(1) textarea {
      flex-basis: 100%;
      padding: 10px;
      border-radius: 3px;
      border-color: #e3e3e3;
      outline: none;
      margin-left: 15px; }
  .inputComment div:nth-of-type(2) {
    display: flex;
    justify-content: flex-end; }
    .inputComment div:nth-of-type(2) > button {
      margin-left: 8px; }
      .inputComment div:nth-of-type(2) > button:nth-of-type(1) > i {
        margin-right: 5px; }

.hasComment {
  display: flex;
  align-items: flex-start; }
  .hasComment img {
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 5px; }
  .hasComment > div {
    flex-basis: 100%;
    margin-left: 20px; }
    .hasComment > div > p {
      margin-bottom: 5px; }
      .hasComment > div > p:nth-of-type(1) {
        font-size: 12px;
        color: #a1a1a1; }
        .hasComment > div > p:nth-of-type(1) b {
          color: #555; }
      .hasComment > div > p:nth-of-type(2) {
        font-size: 14px;
        color: #444; }
    .hasComment > div > small {
      color: #acacac;
      cursor: pointer; }
      .hasComment > div > small:hover {
        color: gray;
        text-decoration: underline; }
