.logPassword-inform {
  color: #e8e8e8; }
  .logPassword-inform h1 {
    margin-top: 0px;
    font-size: 50px;
    line-height: 1.5; }
  .logPassword-inform p {
    background-color: #0000005e;
    padding: 10px;
    font-weight: 300 !important;
    line-height: 1.8 !important;
    color: #c5c5c5;
    font-size: 15px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px; }
    .logPassword-inform p:nth-of-type(1) {
      background-color: #226468cc; }

.logPassword-input {
  margin-top: 50px; }
  .logPassword-input > div:nth-of-type(1) {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 30px;
    color: #e8e8e8;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize; }
    .logPassword-input > div:nth-of-type(1) i {
      font-size: 50px;
      margin-right: 10px; }
    .logPassword-input > div:nth-of-type(1) h1 {
      font-size: 40px;
      margin-top: 40px; }

.boxPassword {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center; }
  .boxPassword div {
    border-radius: 10px;
    padding: 12px;
    background-color: #00000080;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .boxPassword div input {
      margin-left: 20px;
      background-color: transparent;
      border: none;
      flex-basis: 100%;
      color: #e8e8e8; }
      .boxPassword div input::placeholder {
        color: #979797;
        font-weight: lighter; }
    .boxPassword div i {
      color: #cacaca;
      margin-left: 10px; }

.changePass_next {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px; }
