.generateEmpty {
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  height: 170px;
  align-items: center;
  margin: 15px;
  color: gray;
  font-style: italic;
  font-size: 16px;
  font-weight: lighter; }

.btnGen {
  display: flex; }
  .btnGen > button {
    margin-right: 5px; }
